* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Poiret One', cursive;
  color: #262934;
  background-color: #78bec5;
  height: 100%;
  padding: 0;
  margin: 0;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

header {
  
}

.title {
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #3d4250;
  font-size: 60px;
  margin: 20px 0 0 0;
}

h2 {
  font-size: 40px;
  margin-top: 140px;
  text-shadow: 1px 1px 2px #3d4250;
}

h3 {
  text-shadow: 1px 1px 2px #3d4250;
  font-size: 30px;
  margin: 0;
}

section {
  min-height: 80%;
  margin: 0 auto -50px;
  text-align: center;
}

section::after {
  content: "";
  clear: both;
  display: table;
}


footer {
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  margin-top: 0px;
  padding: 15px;
}

/*buttons*/
a {
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 3px #8e8da3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  a {
    font-size: 30px;
  }
}

.levels {
  margin-top: 150px;
}

.levels a {
  color: white;
}

.levels .button {
  margin: 20px 60px 0 60px;
  box-shadow: 2px 2px 3px #8e8da3;
  display: inline-block;
  height: 100px;
  width: 300px;
  line-height: 100px;
  border-radius: 5%;
  border: 3px solid white;
  transition: color 0.2s;
}
@media screen and (max-width: 600px) {
  .levels .button {
    height: 50px;
    width: 150px;
    line-height: 50px;
    margin: 30px;
  }
}

.levels .button:first-child:hover {
  color: rgb(236, 175, 79);
  border: 3px solid rgb(236, 175, 79);
}

.levels .button:first-child:hover:before {
  top: -5px;
  left: -50px;
}

.levels .button:last-child:hover {
  color: rgb(220, 104, 90);
  border: 3px solid rgb(220, 104, 90);
}

.levels .button:last-child:hover:before {
  top: -5px;
  left: -50px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
